###############################################################################
# Set explicit file behavior to:
#   treat as binary
###############################################################################
*.snk       binary
