<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SixLabors" ToolsVersion="17.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0056" Action="None" />
    <Rule Id="IDE0057" Action="None" />
  </Rules>
  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp">
    <Rule Id="RCS1090" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1519" Action="None" />
    <Rule Id="SA1629" Action="None" />
  </Rules>
</RuleSet>