name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  Build:
    strategy:
      matrix:
        options:
          - os: ubuntu-latest
            framework: net6.0
            runtime: -x64
            codecov: false
          - os: macos-latest
            framework: net6.0
            runtime: -x64
            codecov: false
          - os: windows-latest
            framework: net6.0
            runtime: -x64
            codecov: true

    runs-on: ${{matrix.options.os}}

    steps:
      - name: Git Config
        shell: bash
        run: |
          git config --global core.autocrlf false
          git config --global core.longpaths true

      - name: Git Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: NuGet Install
        uses: NuGet/setup-nuget@v1

      - name: NuGet Setup Cache
        uses: actions/cache@v3
        id: nuget-cache
        with:
          path: ~/.nuget
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj', '**/*.props', '**/*.targets') }}
          restore-keys: ${{ runner.os }}-nuget-

      - name: DotNet Setup
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            6.0.x

      - name: DotNet Build
        shell: pwsh
        run: ./ci-build.ps1 "${{matrix.options.framework}}"

      - name: DotNet Test
        shell: pwsh
        run: ./ci-test.ps1 "${{matrix.options.os}}" "${{matrix.options.framework}}" "${{matrix.options.runtime}}" "${{matrix.options.codecov}}"
        env:
          XUNIT_PATH: .\tests\SharedInfrastructure.Tests # Required for xunit

      - name: Update Codecov
        uses: codecov/codecov-action@v3
        if: matrix.options.codecov == true && startsWith(github.repository, 'SixLabors')
        with:
          flags: unittests
